@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cabin&family=Libre+Baskerville&family=Roboto+Mono&display=swap');

body {
  /* font-family: 'Bungee Spice', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto Mono', monospace; */
  font-family: 'Cabin', sans-serif;
}

main {
  min-height: 100vh;
}

#toast {
  visibility: hidden;
  width: 5rem;
  height: 3.2rem;
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: .5rem;

  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
}
#toast #img{
  width: 7rem;
  height: 3.2rem;  
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  border-radius: .5rem 0 0 .5rem;
}
#toast #desc{ 
  color: #fff;
  padding: 16px; 
  overflow: hidden;
  white-space: nowrap;
}
#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
}
@keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
}
@-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
}
@keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
}
@-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}
@keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
}
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 60px; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
}

/* cart message box */

#cart-message-container {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  height: 15rem;
  width: 25rem;
  border-radius: .7rem;
  z-index: 1000;

}

/* Category Navbar */

.category-container {
  background-color: #50C4ED;
  border-radius: 5px;
}

.category-item, .category-link {
  transition:all .5s ease;
}

.category-item:hover {
  transform: scale(1.4) translateY(-5px);
}

.category-item:hover  .category-link{
  color: white!important;
  text-decoration: underline;
}

@media (width >= 991.9px) {
  #categoryToggleLink, .main-page-link{
    display: none;
  }
} 

@media (width < 991.9px) {
  .category-scope{
    display: none;
    visibility: hidden;
  }
} 

/* Navbar */

.navbar-scope {
  padding-top: 0!important;
}

.navbar-container {
  background-color: #387ADF;
  border-radius: 5px;
  padding: 1.5rem ;
}

@media (width <= 991.9px) {
  .user-box {
    margin-top: .7rem;
  }
} 