<div class="row my-5 text-danger">
    <div class="col text-center">
        <h1 class="h3 my-5">Erişim Engellendi</h1>
        <h5 class="my-5">Bu alana giriş yetkiniz bulunmuyor.</h5>
        <h4>
            <span id="time">5</span> saniye sonra anasayfaya yönlendirileceksiniz <i class="fa-solid fa-arrow-right-from-bracket ms-3"></i>
        </h4>
    </div>
</div>

<script>
    window.onload = (event) => {

        setTimeout(function(){
            window.location.href = "@Url.Action("Index","Home")";
        },5000);

        var time = 5;

        setInterval(() => {
            time = (time > 1 ? time - 1 : 1);
            document.getElementById('time').innerText = time;
        }, 1000);
    };
</script>