@{
    ViewData["Title"] = "Üyelik Onayı";
}

<div class="row my-5 text-center">
    <h1 class="h3 mb-3 text-success">Üyeliğiniz onaylandı <i class="fa-solid fa-check"></i></h1>
    <h4>
    <span id="time">5</span> saniye sonra giriş sayfasına yönlendirileceksiniz <i class="fa-solid fa-arrow-right-from-bracket ms-3"></i>
    </h4>
</div>

<script>
    window.onload = (event) => {

        setTimeout(function(){
            window.location.href = "@Url.Action("Login","Auth")";
        },5000);

        var time = 5;

        setInterval(() => {
            time = (time > 1 ? time - 1 : 1);
            document.getElementById('time').innerText = time;
        }, 1000);
    };
</script>