@model FargotPasswordModel

@{
  ViewData["Title"] = "Şifremi unuttum";
}

@section Css
{
  <link rel="stylesheet" href="~/css/login.css">
}

<div class="form-signin w-100 m-auto">

  <form method="post">
    <div class="d-flex justify-content-between px-1">
      <h1 class="h3 mb-3 fw-normal">Şifre sıfırla </h1>
      <i class="fa-solid fa-paper-plane fa-2x"></i>
    </div>   
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-floating mb-2">
      <input asp-for="Email" class="form-control" placeholder="E-Posta">
      <label asp-for="Email"></label>
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Gönder</button>
  </form>

</div>

@section Scripts
{
  @await Html.PartialAsync("_ValidationScriptsPartial")
}