@model ResetPasswordModel

@{
  ViewData["Title"] = "Şifre yenileme";
}

@section Css
{
  <link rel="stylesheet" href="~/css/login.css">
}

<div class="form-signin w-100 m-auto">

  <form method="post">
    <div class="d-flex justify-content-between px-1">
      <h1 class="h3 mb-3 fw-normal">Şifre yenile </h1>
      <i class="fa-solid fa-paper-plane fa-2x"></i>
    </div>   
    <div class="text-danger" asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Token">
    <input type="hidden" asp-for="UserId">
    <div class="form-floating mb-2">
      <input asp-for="Password" class="form-control" placeholder="Şifre">
      <label asp-for="Password"></label>
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-floating mb-2">
      <input asp-for="RePassword" class="form-control" placeholder="Şifre tekrarı">
      <label asp-for="RePassword"></label>
      <span asp-validation-for="RePassword" class="text-danger"></span>
    </div>
    <button class="btn btn-primary w-100 py-2" type="submit">Gönder</button>
  </form>

</div>

@section Scripts
{
  @await Html.PartialAsync("_ValidationScriptsPartial")
}