<div>
    <div>
        <h1 class="h3">Hakkımızda</h1>
        <h5>
            Shop App adlı web sitesi, yöresel ürünlerin satıldığı bir platformdur. Bu platform, kullanıcıların kolayca aradıkları ürünleri bulmalarını sağlar ve dünyanın en büyük markalarını keşfetmelerine olanak tanır. Shop App, kullanıcıların sevdikleri ürünleri takip etmelerini, özel ödüller kazanmalarını ve alışveriş deneyimlerini daha keyifli hale getirmelerini amaçlar.
        </h5>
        <h4>
            Ürünler ve Açıklamalar
        </h4>
        <h6>
            Shop App, çeşitli kategorilerde yöresel ürünleri sunar. İşte bazı örnekler:

            Kars Kaşarı: Yöresel lezzetler arasında önemli bir yere sahip olan Kars kaşarı, tamamen doğal ve kaliteli malzemelerle üretilir. İnce dokusu ve benzersiz tadıyla sofralarınıza lezzet katmaya hazır.
            Kars Balı: Kars’ın doğal güzellikleriyle beslenen arıların ürettiği bal, sağlığınıza iyi gelecek doğal bir tat. İçeriğindeki vitamin ve minerallerle enerjinizi artırır.
            Diğer Yöresel Ürünler: Shop App, sadece Kars’a özgü değil, Türkiye’nin dört bir yanından yöresel ürünleri de sunar. Zeytinyağı, peynir, reçel, kuruyemiş ve daha fazlası için Shop App’i ziyaret edebilirsiniz.
        </h6>
        <h4>          
            Shop App, çeşitli ödeme yöntemlerini kabul eder. İşte bazı yaygın olarak kabul edilen ödeme seçenekleri
        </h4>
        <ul>
            <li>Kredi Kartları: Visa, Mastercard, American Express gibi kredi kartları ile ödeme yapabilirsiniz.</li>
            <li>Banka Kartları: Bankanızın verdiği banka kartları ile alışveriş yapabilirsiniz.</li>
            <li>Mobil Ödemeler: Apple Pay, Google Pay gibi mobil ödeme uygulamaları ile hızlı ve güvenli bir şekilde ödeme yapabilirsiniz.</li>
            <li>Havale / EFT: Banka hesabınıza havale veya EFT ile ödeme yapabilirsiniz.</li>
            <li>Kapıda Ödeme: Ürünü teslim alırken nakit veya kredi kartı ile ödeme yapabilirsiniz</li>
        </ul>
    </div>
</div>
