@{
    ViewData["Title"] = "İletişim";
}
@section Css 
{
    <link rel="stylesheet" href="~/css/about.css">
}

<div id="contact-page" class="bg-light">
    <div class="">
        <div class="row">
            <h1 class="h3 py-3 text-primary">
                İletişim ve Destek
            </h1>
            <div class="col-md-6">
                <h4 class="mb-4 text-primary">          
                    İletişim Kanalları
                </h4>
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">E-posta Adresi: <i class="fa-solid fa-envelope"></i> info@shopapp.com</li>
                    <li class="list-group-item">Telefon Numarası: <a class="btn" href="tel:555-555-55-55"><i class="fa-solid fa-phone"></i> +90 555 123 4567</a></li>
                    <li class="list-group-item">Adres: Shop App, İstanbul, Türkiye</li>
                </ul>
                <h4 class="mb-4 text-primary">          
                    Sıkça Sorulan Sorular (SSS)
                </h4>
                <ul class="list-group list-group-flush mb-4">
                    <li class="list-group-item">Siparişlerim Ne Zaman Teslim Edilir?
                        Siparişleriniz genellikle 2-3 iş günü içinde teslim edilir.
                    </li>
                    <li class="list-group-item">İade ve Değişim İşlemleri Nasıl Yapılır?
                        İade veya değişim taleplerinizi İade ve Değişim Formu üzerinden iletebilirsiniz.
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="h-100">
                    <h4 class="mb-4 text-primary">
                        Adres tarifi <i class="fa-solid fa-location-dot"></i>
                    </h4>
                    <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192697.88850531832!2d28.847372628072865!3d41.00546324300304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1707563982806!5m2!1str!2str" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>