
@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Admin";
}

<div class="my-4">
    <h1 class="h4">Admin Anasayfa</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-6">
        <div>
            <h5>ürün stokları</h5>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h5>sipariş özetleri</h5>
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <h5>satış özetleri</h5>
        </div>
    </div>
</div>