
@{
    Layout = "_Layout-Admin";
    ViewData["Title"] = "Admin";
}

<div class="my-4">
    <h1 class="h4">Admin Anasayfa</h1>
    <hr>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="p-2">          
            @await Component.InvokeAsync("Sales")
        </div>
    </div>
    <div class="col-md-6">
        <div class="p-2">
            @await Component.InvokeAsync("OrderBrief")
        </div>
    </div>
    <div class="col-12">
        <div class="">  
            <a href="/admin/siparislistesi" class="btn p-2">Sipariş ve Satış ayrıntıları için tıklayın <i class="fa-solid fa-hand-pointer"></i></a>        
        </div>
    </div>
    @* <div class="col-md-6">
        <div class="p-2">
            <h5>satış özetleri</h5>
        </div>
    </div> *@
</div>