@model CategoryListViewModel

<div class="list-group">
  <a href="/urunler" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == null ? "active":"")">
    Bütün Kategoriler
  </a>
  @foreach(var category in @Model.Categories!)
  {
    <a href="/urunler/@category.Url" class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == category.Url ? "active":"")">@category.Name</a>
  }

</div>