@model MessageModel

<div id="cart-message-container" class="alert alert-@Model.AlertType alert-dismissible fade show container text-center" role="alert">
    <h5 class="alert-heading">
        Sepete eklendi <i class="fa-solid fa-check"></i>
        @* @Model.Title *@
    </h5>
    <h4>Eski Kars Kaşarı 1kg</h4>
    
    <h6>Toplam <i class="fa-solid fa-cart-shopping"></i> (3) ürün eklendi</h6>
    @* <p>@Model.Message</p> *@
    <div>
        <button class="btn btn-success" data-bs-dismiss="alert" aria-label="Close" href="" class="btn btn-success">Alışverişe devam et</button>
        <a href="" class="btn btn-success">Ödemeye geç</a>

    </div>
    <button id="btn_clos" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>