<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" aria-label="Offcanvas navbar large">
    <div class="container py-1">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-shop"></i> Shop App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header bg-dark">
            <h5 class="offcanvas-title text-white" id="offcanvasNavbar2Label">Admin işlemleri</h5>
            <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-dark">
            <ul class="navbar-nav flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Anasayfa</a>
            </li>
  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ürün işlemleri
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Ürün listesi</a></li>
                    <li><a class="dropdown-item" href="#">Ürün ekle</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kategori işlemleri
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Kategori listesi</a></li>
                    <li><a class="dropdown-item" href="#">Kategori ekle</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sipariş işlemleri
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Sipariş listesi</a></li>
                    <li><a class="dropdown-item" href="#">Sipariş ekle</a></li>
                </ul>
            </li>
           
            </ul>
            @await Component.InvokeAsync("Summary")
            @await Html.PartialAsync("_user")
        </div>
        </div>
    </div>
</nav>