<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-scope" aria-label="Offcanvas navbar large">
    <div class="container navbar-container">
        <a class="navbar-brand" href="/"><i class="fa-solid fa-shop"></i> Shop App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menü</h5>
            <button type="button" class="btn-close " data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav  flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Anasayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/urunler"><i class="fa-solid fa-bacon"></i> Ürünler</a>
            </li>
            @if(User.IsInRole("SuperAdmin"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="/admin/anasayfa"><i class="fa-solid fa-user-tie"></i> Admin Paneli</a>
                </li>
            }
            
            </ul>
            @await Html.PartialAsync("_search")
            @await Component.InvokeAsync("Summary")
            @await Html.PartialAsync("_user")
        </div>
        </div>
    </div>
</nav>