<form class="d-flex mt-3 mt-lg-0 me-2" role="search" asp-controller="Product" asp-action="Search">
    <input class="form-control me-2" type="search" placeholder="Arama yap..." aria-label="Search" name="sorgu">
    <button class="btn btn-outline-dark" type="submit">Ara</button>
</form>