@if(User!.Identity!.IsAuthenticated)
{
    <div class="dropdown d-flex align-items-center user-box">
    <a class="nav-link dropdown-toggle p-0 px-2 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user-large"></i>
    </a>
    <ul class="dropdown-menu user-panel">
        <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action"><a href="#" class="btn btn-sm"><i class="fa-solid fa-user-tag"></i> @User.Identity.Name</a></li>
        <li class="list-group-item list-group-item-action"><a href="/siparislerim" class="btn btn-sm"><i class="fa-solid fa-cart-arrow-down"></i> Siparişler</a></li>
        <li class="list-group-item list-group-item-action"><a href="#" class="btn btn-sm"><i class="fa-solid fa-heart"></i> Favoriler</a></li>
        <li class="list-group-item list-group-item-action"><a href="/hesap/cikisyap" class="btn btn-sm text-danger"><i class="fa-solid fa-right-from-bracket"></i> Çıkış</a></li>
        </ul>
    </ul>      
    </div>       
}
else
{
    <div class="dropdown d-flex align-items-center user-box"> 
    <a class="nav-link dropdown-toggle p-0 px-2 text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-user-plus"></i>
    </a>
    <ul class="dropdown-menu user-panel" style="width: 8rem;">
        <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action"><a href="/siparislerim" class="btn btn-sm"><i class="fa-solid fa-cart-arrow-down"></i> Siparişler</a></li>

        <li class="list-group-item list-group-item-action"><a href="#" class="btn btn-sm"><i class="fa-solid fa-heart"></i> Favoriler</a></li>

        <li class="list-group-item list-group-item-action"><a href="/hesap/girisyap" class="btn btn-sm"><i class="fa-solid fa-circle-user"></i>  Giriş Yap</a></li>
        <li class="list-group-item list-group-item-action"><a href="/hesap/uyeol" class="btn btn-sm"><i class="fa-solid fa-plus"></i> Üye Ol</a></li>
        </ul>
    </ul>        
    </div>              
}